nb-card {
    width: 810px;
    max-width: 95%;
    max-height: 680px;
}

.row {
    justify-content: space-between;

    // div {
        // width: 48%;

        // input, nb-select {
        //     width: 100%;
        // }
    // }
}