nb-card-header {

    .first-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .custom-search {
        display: flex;
        margin-top: 10px;
        width: 50%;
    }

}