nb-card {
    max-width: 75vw;
    max-height: 85vh;
}

button+button {
    margin-left: 1.5rem;
}

.ingredient-image {
    margin: 0 auto;
    display: block;
}

div.margin-top {
    margin-top: 5vh;
}

.form-btn {
    margin-left: 10px;
}

.hide-element {
    display: none;
}

.two-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

ul.group-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 8px 5px;
    }

    li:hover {
        background: #e4e7ed;
    }

    li.group-selected {
        background: #e4e7ed;
    }
}