<nb-card class="two-columns">
    <nb-card-header>
        <span class="document-name">
            Total de Clientes
        </span>
    </nb-card-header>

    <nb-card-body>
        <nb-icon icon="person-outline"></nb-icon>
        <span>500</span>
    </nb-card-body>
</nb-card>

<nb-card class="two-columns">
    <nb-card-header>
        <span class="document-name">
            Qtd. Dívidas
        </span>
    </nb-card-header>

    <nb-card-body>
        <nb-icon icon="shopping-bag-outline"></nb-icon>
        <span>200</span>
    </nb-card-body>
</nb-card>